In [193]:
import numpy as np
import pandas as pd

In [194]:
train = pd.read_csv("../input/atmacup8/train.csv")
test = pd.read_csv("../input/atmacup8/test.csv")
sample_submission = pd.read_csv("../input/atmacup8/atmaCup8_sample-submission.csv")

In [195]:
sample_submission.head()

   Global_Sales
0     63.371815
1     63.371815
2     63.371815
3     63.371815
4     63.371815

In [196]:
len(sample_submission)

8360

In [197]:
data = pd.concat([train, test], sort=False)

In [198]:
print(len(train), len(test), len(data))

8359 8360 16719

In [199]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16719 entries, 0 to 8359
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         8359 non-null   float64
 6   EU_Sales         8359 non-null   float64
 7   JP_Sales         8359 non-null   float64
 8   Other_Sales      8359 non-null   float64
 9   Global_Sales     8359 non-null   float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.2+ MB

In [200]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8359 entries, 0 to 8358
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             8359 non-null   object
 1   Platform         8359 non-null   object
 2   Year_of_Release  8275 non-null   float64
 3   Genre            8359 non-null   object
 4   Publisher        8359 non-null   object
 5   NA_Sales         8359 non-null   int64
 6   EU_Sales         8359 non-null   int64
 7   JP_Sales         8359 non-null   int64
 8   Other_Sales      8359 non-null   int64
 9   Global_Sales     8359 non-null   int64
 10  Critic_Score     3976 non-null   float64
 11  Critic_Count     3976 non-null   float64
 12  User_Score       4831 non-null   object
 13  User_Count       3699 non-null   float64
 14  Developer        4870 non-null   object
 15  Rating           4798 non-null   object
dtypes: float64(4), int64(5), object(7)
memory usage: 1.0+ MB

In [201]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8360 entries, 0 to 8359
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             8358 non-null   object
 1   Platform         8360 non-null   object
 2   Year_of_Release  8175 non-null   float64
 3   Genre            8358 non-null   object
 4   Publisher        8306 non-null   object
 5   Critic_Score     4161 non-null   float64
 6   Critic_Count     4161 non-null   float64
 7   User_Score       5184 non-null   object
 8   User_Count       3891 non-null   float64
 9   Developer        5226 non-null   object
 10  Rating           5152 non-null   object
dtypes: float64(4), object(7)
memory usage: 718.6+ KB

In [202]:
train.isnull().sum()

Name                  0
Platform              0
Year_of_Release      84
Genre                 0
Publisher             0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       4383
Critic_Count       4383
User_Score         3528
User_Count         4660
Developer          3489
Rating             3561
dtype: int64

In [203]:
test.isnull().sum()

Name                  2
Platform              0
Year_of_Release     185
Genre                 2
Publisher            54
Critic_Score       4199
Critic_Count       4199
User_Score         3176
User_Count         4469
Developer          3134
Rating             3208
dtype: int64

In [204]:
data.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [205]:
train.head().T

,0,1,2,3,4
Name,LEGO Batman: The Videogame,LEGO Indiana Jones: The Original Adventures,LEGO Batman: The Videogame,Combat,LEGO Harry Potter: Years 5-7
Platform,Wii,Wii,PSP,2600,Wii
Year_of_Release,NaN,NaN,NaN,NaN,NaN
Genre,Action,Action,Action,Action,Action
Publisher,Warner Bros. Interactive Entertainment,LucasArts,Warner Bros. Interactive Entertainment,Atari,Warner Bros. Interactive Entertainment
NA_Sales,180,151,56,117,69
EU_Sales,97,61,44,7,42
JP_Sales,0,0,0,0,0
Other_Sales,28,21,27,1,12
Global_Sales,306,234,128,125,124
Critic_Score,74,78,73,NaN,76
Critic_Count,17,22,5,NaN,8
User_Score,7.9,6.6,7.4,NaN,7.8
User_Count,22,28,10,NaN,13
Developer,Traveller's Tales,Traveller's Tales,Traveller's Tales,NaN,Traveller's Tales
Rating,E10+,E10+,E10+,NaN,E10+

In [206]:
test.head().T

,0,1,2,3,4
Name,Hitman 2: Silent Assassin,Legacy of Kain: Soul Reaver,Metal Gear Solid 2: Substance,Silent Hill: Homecoming,Silent Hill: Homecoming
Platform,XB,PS,XB,X360,PS3
Year_of_Release,NaN,NaN,NaN,NaN,NaN
Genre,Action,Action,Action,Action,Action
Publisher,Eidos Interactive,Eidos Interactive,Konami Digital Entertainment,Konami Digital Entertainment,Konami Digital Entertainment
Critic_Score,84,91,87,70,71
Critic_Count,23,17,28,54,41
User_Score,8,9,8.5,6.9,6.9
User_Count,19,132,39,180,143
Developer,Io Interactive,Crystal Dynamics,KCEJ,Double Helix Games,Double Helix Games
Rating,M,T,M,M,M

In [207]:
import os
#from pandas_profiling import ProfileReport # profile report を作る用
#from matplotlib_venn import venn2 # venn図を作成する用
OUTPUT_DIR = './'

In [208]:
train = pd.read_csv("../input/atmacup8/train.csv")
train.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,180,97,0,28,306,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
1,LEGO Indiana Jones: The Original Adventures,Wii,NaN,Action,LucasArts,151,61,0,21,234,78.0,22.0,6.6,28.0,Traveller's Tales,E10+
2,LEGO Batman: The Videogame,PSP,NaN,Action,Warner Bros. Interactive Entertainment,56,44,0,27,128,73.0,5.0,7.4,10.0,Traveller's Tales,E10+
3,Combat,2600,NaN,Action,Atari,117,7,0,1,125,NaN,NaN,NaN,NaN,NaN,NaN
4,LEGO Harry Potter: Years 5-7,Wii,NaN,Action,Warner Bros. Interactive Entertainment,69,42,0,12,124,76.0,8.0,7.8,13.0,Traveller's Tales,E10+

In [209]:
test.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Hitman 2: Silent Assassin,XB,NaN,Action,Eidos Interactive,84.0,23.0,8,19.0,Io Interactive,M
1,Legacy of Kain: Soul Reaver,PS,NaN,Action,Eidos Interactive,91.0,17.0,9,132.0,Crystal Dynamics,T
2,Metal Gear Solid 2: Substance,XB,NaN,Action,Konami Digital Entertainment,87.0,28.0,8.5,39.0,KCEJ,M
3,Silent Hill: Homecoming,X360,NaN,Action,Konami Digital Entertainment,70.0,54.0,6.9,180.0,Double Helix Games,M
4,Silent Hill: Homecoming,PS3,NaN,Action,Konami Digital Entertainment,71.0,41.0,6.9,143.0,Double Helix Games,M

In [210]:
train2 = train

In [211]:
delete_columns = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
train2.drop(delete_columns, axis=1, inplace=True)

In [212]:
data2 = data

In [213]:
data2.drop(delete_columns, axis=1, inplace=True)

In [214]:
data2.head

<bound method NDFrame.head of                                              Name Platform  Year_of_Release  \
0                      LEGO Batman: The Videogame      Wii              NaN
1     LEGO Indiana Jones: The Original Adventures      Wii              NaN
2                      LEGO Batman: The Videogame      PSP              NaN
3                                          Combat     2600              NaN
4                    LEGO Harry Potter: Years 5-7      Wii              NaN
...                                           ...      ...              ...
8355               SD Gundam G Generation Genesis      PSV           2016.0
8356               SD Gundam G Generation Genesis      PS4           2016.0
8357                        Battle Worlds: Kronos       PC           2016.0
8358        Codename: Panzers Complete Collection       PC           2016.0
8359                       Imagine: Makeup Artist       DS           2020.0

           Genre                               Publisher  Critic_Score  \
0         Action  Warner Bros. Interactive Entertainment          74.0
1         Action                               LucasArts          78.0
2         Action  Warner Bros. Interactive Entertainment          73.0
3         Action                                   Atari           NaN
4         Action  Warner Bros. Interactive Entertainment          76.0
...          ...                                     ...           ...
8355    Strategy                      Namco Bandai Games           NaN
8356    Strategy                      Namco Bandai Games           NaN
8357    Strategy                            Nordic Games          71.0
8358    Strategy                            Nordic Games           NaN
8359  Simulation                                 Ubisoft           NaN

      Critic_Count User_Score  User_Count          Developer Rating
0             17.0        7.9        22.0  Traveller's Tales   E10+
1             22.0        6.6        28.0  Traveller's Tales   E10+
2              5.0        7.4        10.0  Traveller's Tales   E10+
3              NaN        NaN         NaN                NaN    NaN
4              8.0        7.8        13.0  Traveller's Tales   E10+
...            ...        ...         ...                ...    ...
8355           NaN        NaN         NaN                NaN    NaN
8356           NaN        NaN         NaN                NaN    NaN
8357          15.0        7.1        71.0           KING Art    NaN
8358           NaN        NaN         NaN                NaN    NaN
8359           NaN        tbd         NaN            Ubisoft      E

[16719 rows x 11 columns]>

In [215]:
train2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
1,LEGO Indiana Jones: The Original Adventures,Wii,NaN,Action,LucasArts,78.0,22.0,6.6,28.0,Traveller's Tales,E10+
2,LEGO Batman: The Videogame,PSP,NaN,Action,Warner Bros. Interactive Entertainment,73.0,5.0,7.4,10.0,Traveller's Tales,E10+
3,Combat,2600,NaN,Action,Atari,NaN,NaN,NaN,NaN,NaN,NaN
4,LEGO Harry Potter: Years 5-7,Wii,NaN,Action,Warner Bros. Interactive Entertainment,76.0,8.0,7.8,13.0,Traveller's Tales,E10+

In [216]:
data2.shape

(16719, 11)

In [217]:
train = pd.read_csv("../input/atmacup8/train.csv")
train['Name']

0                             LEGO Batman: The Videogame
1            LEGO Indiana Jones: The Original Adventures
2                             LEGO Batman: The Videogame
3                                                 Combat
4                           LEGO Harry Potter: Years 5-7
                              ...
8354                                           Stellaris
8355                   Total War Attila: Tyrants & Kings
8356                    Brothers Conflict: Precious Baby
8357    Phantasy Star Online 2 Episode 4: Deluxe Package
8358    Phantasy Star Online 2 Episode 4: Deluxe Package
Name: Name, Length: 8359, dtype: object

In [218]:
train['Global_Sales']

0       306
1       234
2       128
3       125
4       124
       ...
8354      4
8355      1
8356      1
8357      4
8358      1
Name: Global_Sales, Length: 8359, dtype: int64

In [219]:
delete_columns = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
target = train[delete_columns]
target

      NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0          180        97         0           28           306
1          151        61         0           21           234
2           56        44         0           27           128
3          117         7         0            1           125
4           69        42         0           12           124
...        ...       ...       ...          ...           ...
8354         0         4         0            0             4
8355         0         1         0            0             1
8356         0         0         1            0             1
8357         0         0         4            0             4
8358         0         0         1            0             1

[8359 rows x 5 columns]

In [220]:
data2.shape

(16719, 11)

In [221]:
data2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
1,LEGO Indiana Jones: The Original Adventures,Wii,NaN,Action,LucasArts,78.0,22.0,6.6,28.0,Traveller's Tales,E10+
2,LEGO Batman: The Videogame,PSP,NaN,Action,Warner Bros. Interactive Entertainment,73.0,5.0,7.4,10.0,Traveller's Tales,E10+
3,Combat,2600,NaN,Action,Atari,NaN,NaN,NaN,NaN,NaN,NaN
4,LEGO Harry Potter: Years 5-7,Wii,NaN,Action,Warner Bros. Interactive Entertainment,76.0,8.0,7.8,13.0,Traveller's Tales,E10+

In [222]:
data['Platform'] .unique().tolist()

['Wii',
 'PSP',
 '2600',
 'X360',
 'PS3',
 'GBA',
 'DS',
 '3DS',
 'PC',
 'GC',
 'GB',
 'PS2',
 'N64',
 'PSV',
 'XB',
 'NES',
 'GEN',
 'SNES',
 'GG',
 'NG',
 'SCD',
 'PS',
 'SAT',
 '3DO',
 'TG16',
 'PCFX',
 'DC',
 'WS',
 'WiiU',
 'PS4',
 'XOne']

In [223]:
data['Platform']

0        Wii
1        Wii
2        PSP
3       2600
4        Wii
        ...
8355     PSV
8356     PS4
8357      PC
8358      PC
8359      DS
Name: Platform, Length: 16719, dtype: object

In [224]:
data['platform_value'] = data['Platform'].factorize()[0]/50
data['platform_value']

0       0.00
1       0.00
2       0.02
3       0.04
4       0.00
        ...
8355    0.26
8356    0.58
8357    0.16
8358    0.16
8359    0.12
Name: platform_value, Length: 16719, dtype: float64

In [225]:
np.mean(data['Year_of_Release'])

2006.4873556231003

In [226]:
data['Year_of_Release']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
8355    2016.0
8356    2016.0
8357    2016.0
8358    2016.0
8359    2020.0
Name: Year_of_Release, Length: 16719, dtype: float64

In [227]:
age_avg = data['Year_of_Release'].mean()
age_std = data['Year_of_Release'].std()
data['Year_of_Release'].fillna(np.random.randint(age_avg - age_std, age_avg + age_std), inplace=True)
data['year_value'] = (data['Year_of_Release']-1980)/50
data['year_value']

0       0.48
1       0.48
2       0.48
3       0.48
4       0.48
        ...
8355    0.72
8356    0.72
8357    0.72
8358    0.72
8359    0.80
Name: year_value, Length: 16719, dtype: float64

In [228]:
data['genre_value'] = data['Genre'].factorize()[0]/20
data['genre_value']

0       0.00
1       0.00
2       0.00
3       0.00
4       0.00
        ...
8355    0.55
8356    0.55
8357    0.55
8358    0.55
8359    0.45
Name: genre_value, Length: 16719, dtype: float64

In [229]:
data['publisher_value'] = data['Publisher'].factorize()[0]/500
data['publisher_value']

0       0.000
1       0.002
2       0.000
3       0.004
4       0.000
        ...
8355    0.602
8356    0.602
8357    0.996
8358    0.996
8359    0.610
Name: publisher_value, Length: 16719, dtype: float64

In [230]:
data['Developer']

0       Traveller's Tales
1       Traveller's Tales
2       Traveller's Tales
3                     NaN
4       Traveller's Tales
              ...
8355                  NaN
8356                  NaN
8357             KING Art
8358                  NaN
8359              Ubisoft
Name: Developer, Length: 16719, dtype: object

In [231]:
data['developer_value'] = (data['Developer'].factorize()[0]+1)/1000
data['developer_value']

0       0.001
1       0.001
2       0.001
3       0.000
4       0.001
        ...
8355    0.000
8356    0.000
8357    0.807
8358    0.000
8359    0.885
Name: developer_value, Length: 16719, dtype: float64

In [232]:
data['rating_value'] = (data['Rating'].factorize()[0]+1)/5
data['rating_value']

0       0.2
1       0.2
2       0.2
3       0.0
4       0.2
       ...
8355    0.0
8356    0.0
8357    0.0
8358    0.0
8359    0.6
Name: rating_value, Length: 16719, dtype: float64

In [233]:
data['critic_score_value'] = (data['Critic_Score'].factorize()[0]+1)/10
data['critic_score_value']

0       0.1
1       0.2
2       0.3
3       0.0
4       0.4
       ...
8355    0.0
8356    0.0
8357    1.1
8358    0.0
8359    0.0
Name: critic_score_value, Length: 16719, dtype: float64

In [234]:
age_avg = data['Critic_Count'].mean()
age_std = data['Critic_Count'].std()
data['Critic_Count'].fillna(np.random.randint(age_avg - age_std, age_avg + age_std), inplace=True)
data['critic_count_value'] = data['Critic_Count']/50
data['critic_count_value']

0       0.34
1       0.44
2       0.10
3       0.72
4       0.16
        ...
8355    0.72
8356    0.72
8357    0.30
8358    0.72
8359    0.72
Name: critic_count_value, Length: 16719, dtype: float64

In [235]:
data['user_score_value'] = (data['User_Score'].factorize()[0]+1)/50
data['user_score_value']

0       0.02
1       0.04
2       0.06
3       0.00
4       0.08
        ...
8355    0.00
8356    0.00
8357    0.76
8358    0.00
8359    0.18
Name: user_score_value, Length: 16719, dtype: float64

In [236]:
age_avg = data['User_Count'].mean()
age_std = data['User_Count'].std()
data['User_Count'].fillna(np.random.randint(age_avg - age_std, age_avg + age_std), inplace=True)
data['user_count_value'] = (data['User_Count']+40)/1000
data['user_count_value']

0       0.062
1       0.068
2       0.050
3       0.401
4       0.053
        ...
8355    0.401
8356    0.401
8357    0.111
8358    0.401
8359    0.401
Name: user_count_value, Length: 16719, dtype: float64

In [237]:
data['name_value'] = (data['Name'].factorize()[0])/10000
data['name_value']

0       0.0000
1       0.0001
2       0.0000
3       0.0002
4       0.0003
         ...
8355    1.1558
8356    1.1558
8357    1.1559
8358    1.1560
8359    1.1561
Name: name_value, Length: 16719, dtype: float64

In [238]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [239]:
le.fit(data['Platform'])
data['platform_transform'] = le.transform(data['Platform'])/50
data['platform_transform']

0       0.52
1       0.52
2       0.38
3       0.00
4       0.52
        ...
8355    0.40
8356    0.36
8357    0.26
8358    0.26
8359    0.08
Name: platform_transform, Length: 16719, dtype: float64

In [240]:
data['Rating2']= data['Rating'].fillna('nan')
le.fit(data['Rating2'])
data['rating_transform'] = le.transform(data['Rating2'])/10
data['rating_transform']

0       0.2
1       0.2
2       0.2
3       0.8
4       0.2
       ...
8355    0.8
8356    0.8
8357    0.8
8358    0.8
8359    0.1
Name: rating_transform, Length: 16719, dtype: float64

In [241]:
data['Publisher2']= data['Publisher'].fillna('nan')
le.fit(data['Publisher2'])
data['publisher_transform'] = le.transform(data['Publisher2'])/1000
data['publisher_transform']

0       0.552
1       0.290
2       0.552
3       0.053
4       0.552
        ...
8355    0.349
8356    0.349
8357    0.369
8358    0.369
8359    0.528
Name: publisher_transform, Length: 16719, dtype: float64

In [242]:
data['Name2']= data['Name'].fillna('nan')
le.fit(data['Name2'])
data['name_transform'] = le.transform(data['Name2'])/10000
data['name_transform']

0       0.5128
1       0.5139
2       0.5128
3       0.1576
4       0.5137
         ...
8355    0.8207
8356    0.8207
8357    0.0718
8358    0.1555
8359    0.4343
Name: name_transform, Length: 16719, dtype: float64

In [243]:
data['Genre2']= data['Genre'].fillna('nan')
le.fit(data['Genre2'])
data['genre_transform'] = le.transform(data['Genre2'])/20
data['genre_transform']

0       0.00
1       0.00
2       0.00
3       0.00
4       0.00
        ...
8355    0.55
8356    0.55
8357    0.55
8358    0.55
8359    0.45
Name: genre_transform, Length: 16719, dtype: float64

In [244]:
data['Publisher2']= data['Publisher'].fillna('nan')
le.fit(data['Publisher2'])
data['publisher_transform'] = le.transform(data['Publisher2'])/1000
data['publisher_transform']

0       0.552
1       0.290
2       0.552
3       0.053
4       0.552
        ...
8355    0.349
8356    0.349
8357    0.369
8358    0.369
8359    0.528
Name: publisher_transform, Length: 16719, dtype: float64

In [245]:
data['Developer2']= data['Developer'].fillna('nan')
le.fit(data['Developer2'])
data['developer_transform'] = le.transform(data['Developer2'])/2000
data['developer_transform']

0       0.7555
1       0.7555
2       0.7555
3       0.8450
4       0.7555
         ...
8355    0.8450
8356    0.8450
8357    0.3945
8358    0.8450
8359    0.7695
Name: developer_transform, Length: 16719, dtype: float64

In [246]:
data_columns = ['year_value',
                'critic_score_value','critic_count_value',
                'user_score_value','user_count_value',
                'rating_transform','platform_transform','name_transform',
                'genre_transform','publisher_transform','developer_transform',
               ]

In [247]:
data3 = data[data_columns]
data3

,year_value,critic_score_value,critic_count_value,user_score_value,user_count_value,rating_transform,platform_transform,name_transform,genre_transform,publisher_transform,developer_transform
0,0.48,0.1,0.34,0.02,0.062,0.2,0.52,0.5128,0.00,0.552,0.7555
1,0.48,0.2,0.44,0.04,0.068,0.2,0.52,0.5139,0.00,0.290,0.7555
2,0.48,0.3,0.10,0.06,0.050,0.2,0.38,0.5128,0.00,0.552,0.7555
3,0.48,0.0,0.72,0.00,0.401,0.8,0.00,0.1576,0.00,0.053,0.8450
4,0.48,0.4,0.16,0.08,0.053,0.2,0.52,0.5137,0.00,0.552,0.7555
...,...,...,...,...,...,...,...,...,...,...,...
8355,0.72,0.0,0.72,0.00,0.401,0.8,0.40,0.8207,0.55,0.349,0.8450
8356,0.72,0.0,0.72,0.00,0.401,0.8,0.36,0.8207,0.55,0.349,0.8450
8357,0.72,1.1,0.30,0.76,0.111,0.8,0.26,0.0718,0.55,0.369,0.3945
8358,0.72,0.0,0.72,0.00,0.401,0.8,0.26,0.1555,0.55,0.369,0.8450
8359,0.80,0.0,0.72,0.18,0.401,0.1,0.08,0.4343,0.45,0.528,0.7695

In [248]:
len(train)

8359

In [249]:
len(data3)

16719

In [250]:
train3 = data3[:len(train)]
test3 = data3[len(train):]

In [251]:
#!pip3 install ipywidgets
#!pip3 install sweetviz
#import sweetviz as sv

In [252]:
#my_report = sv.compare([train3, "Training Data"], [test3, "Test Data"])
#my_report.show_html()  # Default arguments will generate to "SWEETVIZ_REPORT.html"

In [253]:
target3 = target

In [254]:
len(target)

8359

In [255]:
X = np.array(train3)
y = np.array(target3['Global_Sales'])

In [256]:
import lightgbm as lgbm
random_state = 42
clf = lgbm.LGBMClassifier(random_state=random_state, silent=True, metric='None', n_jobs=4)

In [257]:
from sklearn.model_selection import ShuffleSplit
import matplotlib.pyplot as plt
    
ss = ShuffleSplit(n_splits = 10,
                  train_size = 0.6,
                  test_size = 0.4,
                  random_state = 0)

for train_index, test_index in ss.split(X):

    X_train, X_test = X[train_index], X[test_index]
    Y_train, Y_test = y[train_index], y[test_index]

    clf.fit(X_train, Y_train)

In [258]:
y_pred = clf.predict(np.array(test3))
y_pred = y_pred.astype(np.int)

In [261]:
sub = sample_submission
sub['Global_Sales'] = list(map(int, y_pred))
sub.to_csv("lgbm7_submission.csv", index=False)

In [260]:
sub

      Global_Sales
0               17
1                2
2                2
3                2
4                2
...            ...
8355             2
8356             2
8357             2
8358             2
8359             2

[8360 rows x 1 columns]